@import "../../index.css";

.navbar {
  /* vertical and horizontal center */
  box-shadow: 0 2px 4px 0 rgb(224, 217, 217);
  justify-content: center;
  align-items: center;
  /* set height */
  min-height: 80px;
  /* pull them apart */
  gap: 65vw;
}

@media (max-width: 865px) {
  .navbar {
    gap: 30vw;
  }
}
