@import "../../index.css";

.navbar {
  /* vertical and horizontal center */
  justify-content: center;
  align-items: center;
  /* set height */
  height: 80px;
  /* pull them apart */
  gap: 70%;
}

/* fix text sliding off sides on small screen */
