@import "../../index.css";

.search-filter-container {
  /* push container down */
  margin-top: 30px;
  /* horizontally center items to even out space */
  justify-content: center;
  /* push items apart */
  gap: 58.5%;
  /* make items not stretch */
  align-items: flex-start;
}

/* make input div longer */
.input {
  padding-inline-end: 5em;
}

.drop-items {
  /* stop drop-items from affecting the height of the entire container */
  position: absolute;
  /* push items down for a small gap*/
  margin-top: 10px;
  /* make them longer */
  padding-inline-end: 5.5em;
}

/* show dropdown items on hover */
.dropdown:hover .drop-items {
  display: block;
}

/* change background color on hover of item */
.drop-items p:hover {
  background-color: #f1f1f1;
}

/* fix icons, fix hovering, fix box size*/
