@import "../../index.css";

.search-filter-container {
  /* give width */
  width: 99%;
  /* Center the actual container */
  margin: 0 auto;
  /* push container down */
  margin-top: 30px;
  /* center contents of the container */
  justify-content: center;
  /* push items apart */
  gap: 10vh 60%;
  /* make items not stretch */
  align-items: flex-start;
  /* wrap on smaller screen size */
  flex-wrap: wrap;
}

/* make input div longer */
.input {
  padding-inline-end: 5em;
}

.drop-items {
  /* stop drop-items from affecting the height of the entire container */
  position: absolute;
  /* make them longer */
  padding-inline-end: 5.5em;
  /* hidden by default */
  display: none;
  z-index: 10;
  /* content: 100%; */
  align-content: stretch;
}

/* show dropdown items on hover */
.dropdown:hover .drop-items {
  display: block;
}

/* change background color on hover of item */
.dropdown p:hover {
  background-color: hsl(var(--clr-background));
  /* background-clip: padding-box; */
}

/* fix bug on the input box */
input {
  background-color: hsl(var(--clr-elements));
  color: hsl(var(--clr-input));
}

::placeholder {
  background-color: hsl(var(--clr-elements));
  color: hsl(var(--clr-input));
}

.add-size {
  padding-right: 1.492em;
}

.dropdown:hover .drop-button {
  background-color: hsl(var(--clr-background));
}
