@import "style";

.main-flex-container {
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 70px;
  height: 50vh;
}

.flag-big {
  height: 400px;
  width: 560px;
  background-color: grey;
}

.border-countries {
  display: flex;
  margin-top: 100px;
}

.country {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

//change position of border-countries
.border-countries {
  margin-top: 0;
  height: 20vh;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-end;
  width: 50%;
}

.second-row > p,
.third-row > p {
  margin-block: 0.7rem;
}
