// - Mobile: 375px
// - Desktop: 1440px

// colours
$darkBlue: hsl(209, 23%, 22%); //dark mode elements
$veryDarkBlue: hsl(207, 26%, 17%); //dark mode background
$black: hsl(200, 15%, 8%); //light mode text
$darkGrey: hsl(0, 0%, 52%); //light mode input
$veryLightGray: hsl(0, 0%, 98%); //light mode background
$white: hsl(0, 0%, 100%); //Dark Mode Text & Light Mode Elements

//font & font sizes
$font: "Nunito Sans", sans-serif; //font-family
$fontSizeHome: 0.875rem; //homepage font-size
$fontSixeDetail: 1rem; //detailed page font-size

//font weights
$light: 300; // 300 for population/region/capital values, 'Search for a country'
$medium: 700; // 700 for population/region/capital, filter by region & regions,
$bold: 800; // 800 for country name & 'where in the world'

body {
  margin: 0;
  font-family: $font;
  background-color: $veryLightGray;
}

.header {
  display: flex; //items displayed in row
  align-items: center; //center of the header div
  height: 11.15vh; //set height of header
  background-color: $white;
  position: sticky; //stays after scrolling
}

.main-title {
  margin-left: 4.375em;
  font-weight: $bold;
}
.dark-mode {
  margin-left: auto; //push it to the other side
  margin-right: 4.375em;
  font-weight: $medium;
}

.light-moon {
  margin-right: 0.4em;
}
